@media (max-width: 768px) {
    .hero-content {
        flex-direction: column;
        text-align: center;
    }

    .service-grid {
        grid-template-columns: 1fr;
    }

    .brand-logos {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
    .services .container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 900px) {
  .cta-container {
    flex-direction: column;
    text-align: center;
    }
    .cta-graphics {
    margin-top: 40px;
  }
}

@media (max-width: 768px) {
  .process-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
}