* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
/* html{
    scroll-behavior: smooth;
} */
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.brand-logos, a{
    text-decoration: none;
    color: black;
}

.brand-logos, a:hover {
    color: #a3e635;
}

.header {
    background: #fff;
    padding: 20px 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 20px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #111;
    font-size: 14px;
}
.nav-links a:hover {
    color: #a3e635;
}

.btn-outline {
    padding: 15px 20px;
    border: 2px solid black;
    background: transparent;
    border-radius: 8px;
    cursor: pointer;
    transition: ease-in-out 0.4s;
}
.btn-outline:hover {
    background: #a3e635;
    color: #ffffff;
    border: 2px solid transparent;
}

.hero { 
    padding: 60px 0;
    background: #fff;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-text {
    max-width: 500px;
}

.hero-text h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.hero-text p {
    margin-bottom: 20px;
    line-height: 1.6;
}

.btn-dark {
    background: #111827;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: ease-in-out 0.4s;
}
.btn-dark:hover {
    background: #a3e635;
    color: #ffffff;
}
.hero-image img {
    width: 100%;
    max-width: 400px;
}

.brands {
    padding: 40px 0;
    background: #fff;
}

.brand-logos {
    display: flex;
    justify-content: space-between;
    color: #777;
    font-weight: bold;
}

.services {
    padding: 60px 0;
}

.services h2 span {
    background: #a3e635;
    padding: 5px 10px;
    border-radius: 6px;
}

.services-desc {
    margin: 20px 0 40px;
    max-width: 800px;
    color: #555;
    margin-right: 90px;
}
span{
    margin-left: 60px;
}
.services .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  max-width: 1100px;
  margin: auto;
}

.card {
  padding: 30px;
  border-radius: 20px;
  transition: 0.3s ease;
  cursor: pointer;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  max-width: 60%;
}

.card h3 {
  font-size: 22px;
  margin-bottom: 25px;
  line-height: 1.4;
}

.card span {
  background: #b9ff66;
  padding: 5px 10px;
  border-radius: 6px;
}

.card a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.card img {
  width: 100px;
  height: auto;
}

.light {
  background: #ffffff;
  border: 1px solid #ddd;
}

.green {
  background: #b9ff66;
}

.dark {
  background: #111;
  color: white;
}

.dark a {
  color: white;
}

.dark span {
  background: #b9ff66;
  color: black;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}

  .content {
    flex-direction: column;
    text-align: center;
}

  .text {
    max-width: 100%;
    margin-bottom: 20px;
}

.cta-container {
  background: #f1f1f1;
  border-radius: 30px;
  padding: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: auto;
  position: relative;
}

.cta-text {
  max-width: 500px;
}

.cta-text h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.cta-text p {
  color: #555;
  line-height: 1.6;
  margin-bottom: 30px;
}

.cta-text button {
  background: #111;
  color: white;
  padding: 15px 25px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.cta-text button:hover {
  background: #b9ff66;
  color: black;
}

.cta-box {
  background: #eeeeee;
  border-radius: 30px;
  padding: 60px;
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta-content {
  max-width: 500px;
}

.cta-content h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.cta-content p {
  color: #555;
  line-height: 1.6;
  margin-bottom: 30px;
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.cta-content button {
  background: #111;
  color: white;
  padding: 14px 28px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

.cta-content button:hover {
  background: #b9ff66;
  color: black;
}

.cta-graphics {
  position: relative;
  width: 350px;
  height: 250px;
}

.case-container {
  background: #111;
  color: white;
  border-radius: 30px;
  padding: 50px;
  max-width: 1100px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
}

.case-box {
  flex: 1;
}

.case-box p {
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 25px;
  color: #ddd;
}

.case-studies{
    margin-top: 20px;
}

.case-box a {
  color: #b9ff66;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.case-box a:hover {
  letter-spacing: 1px;
}

.divider {
  width: 1px;
  height: 120px;
  background: #333;
}

.process-container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.process{
    margin-top: 20px;
}

.process-card {
  background: #eeeeee;
  border-radius: 25px;
  padding: 30px 40px;
  border: 2px solid #111;
  box-shadow: 0 6px 0 #111;
}


.process-card.active {
  background: #b9ff66;
}


.process-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.number {
  font-size: 32px;
  font-weight: bold;
}

.process-header h3 {
  font-size: 20px;
}


.icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  border: 2px solid #111;
}


.process-content {
  margin-top: 20px;
  border-top: 2px solid #111;
  padding-top: 20px;
  font-size: 14px;
  line-height: 1.6;
}

.team-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.team-card {
  background: #ffffff;
  border: 2px solid #111;
  border-radius: 20px;
  padding: 25px;
  position: relative;
  transition: all 0.35s ease;
}

.team-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  border-color: #7CFC00;
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.image-box {
  width: 80px;
  height: 80px;
  border-radius: 20px;
  margin-bottom: 15px;
}

.linkedin {
  width: 32px;
  height: 32px;
  background: #9eff00;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.linkedin:hover {
  background: #111;
  color: white;
}

.team-card h3 {
  margin: 10px 0 5px;
  font-size: 18px;
}

.role {
  font-size: 14px;
  color: #555;
  margin-bottom: 15px;
}

.divider {
  height: 2px;
  background: #111;
  margin-bottom: 15px;
}

.desc {
  font-size: 14px;
  line-height: 1.6;
  color: #333;
}

.Butt{
  position: absolute;
  bottom: 20px;
  right: 70px;
}